<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="container-fluid  my-5">

    <footer style="background-color: #1b1b1b">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="mb-3 text-white">Head Office</h5>
            <p>
                New No. 25, Old No.9, Chari Street,<br>
                North Usman Road,<br>
                T.Nagar, Chennai - 600017,<br>
                Tamilnadu, India.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3 text-white">links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#!" style="color: #fff">FAQ</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #fff;">Classes</a>
              </li>
              <li class="mb-1">
                <a href="#!" style="color: #fff;">Pricing</a>
              </li>
              <li>
                <a href="#!" style="color: #fff;">Safety</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1 text-light">opening hours</h5>
            <table class="table" style="border-color: #fff;">
              <tbody>
                <tr>
                  <td>Mon - Fri:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Sat - Sun:</td>
                  <td>8am - 1am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color:#fff;">
        © 2020 Copyright:
        <a class="text-dark" href="https://www.jvindians.com/Abacus.php">infojvindians.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
  <!-- End of .container -->