
<body>
    <app-navbar></app-navbar>
    <div class="img"></div>
    <div class="center">
      <div class="title">Welcome to JAYAVARAD Graphics</div>
      <div class="sub_title">
          We are one amongst the principal manufacturers, suppliers and exporters of optimum quality abacus.
  We are specialized in various types of student and teacher abacus and supply our products to many reputed abacus training 
  institutions throughout India as well as across the Globe. 
      </div>
      <div class="btns">
        <button>Click here to Know About Abacus</button>
        <button>Contact</button>
      </div>
    </div>
  </body>
  <app-hero-page></app-hero-page>
  <app-footer></app-footer>